
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
@font-face
{
    font-family:"lato";
    src:url("/fonts/lato.ttf")format("truetype");
    src:url("/fonts/lato.otf")format("opentype");
}


html
{
    width: 1160px;
    margin:15px;
    padding:10px;
    font-family: "raleway, sans-serif";
    line-height: 1rem;
    font-size: 1em;
    background-color:white;
    
}
    body
    {
       width: 1160px;
       position:absolute;
       left: 55px;
       right:auto;
      
    }
    header
    {         
       
        height: 280px;
        background-color: #782221;
        color:white;
    }
        img
        {
            top: 30px;
            border-radius: 50%;
            position:relative;
            left: 45%;
            right: auto;
            box-shadow: 5px 5px 5px 5px #dbc2a4;
            
        }
            h1
            {
                position: relative;
                top: 50px;
                font-family: "lato, sans serif";
                font-weight: bold;
                text-align: center;
                line-height: 30px;

            }

                h2
                {
                    position: relative;
                    top: 60px;
                    font-family: "lato, sans serif";
                    font-weight: bold;
                    text-align: center;
                    
                }
               
                    a
                    {
                        color:white;
                    }
                        .box
                        {
                            position: relative;
                            top: 50px;
                            display: flex;
                            justify-content: space-around;
                            align-items:center;
                            background-color: black;
                            line-height: 1px;
                        }
                            section
                            {   
                                position: relative;
                                width: 460px;
                                height:765px;
                                top: 48px;
                                display: flex;
                                flex-direction: column;
                                justify-content: left;
                                align-items: start;
                                background-color:#782221;
                                color:white;
                                text-indent: 20px;
                                text-align: justify;
                                font-size: small;
                            }
                                .titre
                                {
                                    margin-top: 10px;
                                    background-color: #dbc2a4;
                                    color:black;
                                    width: 330px;
                                    padding:10px;
                                    
                                }
                                    p
                                    {
                                        width: 300px;
                                        text-align: justify;
                                    }
                                        h3
                                        {
                                            background-color: #dbc2a4;
                                            font-family: "lato; sans serif";
                                            font-weight: bold;
                                            color: black;
                                            border-left: #782221 solid 3px;
                                        }

                                            .experience
                                            {
                                                width:658px;
                                                position:absolute;
                                                left: 500px;
                                                top:330px;
                                                border-right: 2px black solid;
                                                font-size: small;
                                            }
                                                .intitule
                                                {
                                                    
                                                    font-family: "lato";
                                                    font-weight: bold;
                                                }

                                                     footer
                                                     {                                                  
                                                       position: absolute;
                                                        width:1160px;
                                                        height: 100px;
                                                        left:-500px;
                                                        background-color:#782221;
                                                        display: flex;
                                                        flex-direction: row;
                                                        justify-content: center;
                                                        align-items: center;
                                                        
                                                    }
                                                      .reseau
                                                      {
                                                        box-shadow: none;
                                                        
                                                      } 
                                                      
